SERVER_PORT=8080
SERVER_HOST=localhost

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=mypos_db

JWT_SECRET=super_secret_local_jwt_key_mypos_2026
JWT_LIFESPAN=24

PRINTER_TYPE=usb
PRINTER_PAPER_WIDTH=58mm
